<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>悦诗风吟官方网站暨网上商城</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/index.css">

  <script src="../static/js/jquery-1.8.3.js" defer></script>
  <script src="https://unpkg.com/swiper/js/swiper.js" defer></script>
  <script src="../static/js/header.js" defer></script>
  <script src="../static/js/index.js" defer></script>
</head>

<body>
  <!-- 头部结构 -->
  <header class="headerWrap">
    <div class="header w1368 clear">
      <!-- list -->
      <nav class="list fl">
        <!-- 第一个 -->
        <li class="list-item">
          <!-- 占位空间 -->
          <a href="javascript:;">
            <span>购物</span>
          </a>
          <div class="listContent">
            <div class="listCon w1368 clear">
              <div class="fl menuList">
                <!-- 产品类别 -->
                <dl class="menu-item fl">
                  <dt>购物</dt>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                </dl>

                <!-- 护肤系列 -->
                <dl class="menu-item fl">
                  <dt>购物</dt>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                </dl>

              </div>
              <div class="fr menuImg">
                <a href="javascript:;">
                  <img src="../static/images/menu1.png">
                </a>
              </div>
            </div>
          </div>
        </li>
        <!-- 第二个 -->
        <li class="list-item">
          <a href="javascript:;">
            <span>活动</span>
            <div class="listContent">
              <div class="listCon w1368 clear">
                <div class="fl menuList">
                  <!-- 产品类别 -->
                  <dl class="menu-item fl">
                    <dt>活动</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                  <!-- 护肤系列 -->
                  <dl class="menu-item fl">
                    <dt>活动</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>
                </div>
              </div>
            </div>
          </a>
        </li>
        <!-- 第三个 -->
        <li class="list-item">
          <a href="javascript:;">
            <span>风吟汇</span>
            <div class="listContent">
              <div class="listCon w1368 clear">
                <div class="fl menuList">
                  <!-- 产品类别 -->
                  <dl class="menu-item fl">
                    <dt>风吟汇</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                  <!-- 护肤系列 -->
                  <dl class="menu-item fl">
                    <dt>风吟汇</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                </div>
              </div>
            </div>
          </a>
        </li>
        <!-- 第四个 -->
        <li class="list-item">
          <a href="javascript:;">
            <span>品牌故事</span>
            <div class="listContent">
              <div class="listCon w1368 clear">
                <div class="fl menuList">
                  <!-- 产品类别 -->
                  <dl class="menu-item fl">
                    <dt>品牌故事</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                  <!-- 护肤系列 -->
                  <dl class="menu-item fl">
                    <dt>品牌故事</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                </div>
              </div>
            </div>
          </a>
        </li>
      </nav>
      <!-- logo -->
      <a href="javascript:;" class="logoWrap">
        <img src="../static/images/logo.png" alt="logo" class="logo">
      </a>
      <!-- action -->
      <div class="actionWrap fr">
        <nav class="active clear">
          <!-- logo & register -->
          <li class="userWrap fl">
            <a href="javascript:;">
              <span><img src="../static/images/user.png"></span>
            </a>
            <!-- userContent -->
            <div class="userContent">
              <!-- 遮罩层 -->
              <div class="mask"></div>
              <!-- 登录注册 -->
              <div class="loginWrap"></div>
            </div>
          </li>
          <!-- search -->
          <li class="searchWrap fl">
            <a href="javascript:;">
              <span><img src="../static/images/search.png"></span>
            </a>
          </li>
          <!-- shoppingCar -->
          <li class="shoppingCarWrap fl">
            <a href="javascript:;">
              <span><img src="../static/images/cart.png"></span>
            </a>
          </li>
        </nav>
      </div>
    </div>
  </header>

  <!-- banner 结构 -->
  <nav class="bannerWrap">
    <!-- swiper-container 结构轮播图 -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../static/images/banner01.jpg">
          <!-- 轮播图补充信息 -->
          <li class="info">
            <div class="main clear">
              <div class="left fl">
                <p class="tit1">3种成分 2重修护</p>
                <p class="tit2">1瓶改善初老危“肌”</p>
                <p class="info1"></p>
                <p class="info2"></p>
              </div>
              <div class="right fr">
                <a href="javascript:;">
                  <span>查看详情</span>
                  <span class="iconfont icon-youjiantou1"></span>
                </a>
              </div>
            </div>
          </li>
        </div>
        <div class="swiper-slide">
          <img src="../static/images/banner02.jpg">
          <!-- 轮播图补充信息 -->
          <li class="info">
            <div class="main clear">
              <div class="left fl">
                <p class="tit1">不惧眼色</p>
                <p class="tit2">妆由我心</p>
                <p class="info1">肆熠绽放限量版</p>
                <p class="info2">耀目上线</p>
              </div>
              <div class="right fr">
                <a href="javascript:;">
                  <span>查看详情</span>
                  <span class="iconfont icon-youjiantou1"></span>
                </a>
              </div>
            </div>
          </li>
        </div>
        <div class="swiper-slide">
          <img src="../static/images/banner03.png">
          <!-- 轮播图补充信息 -->
          <li class="info">
            <div class="main clear">
              <div class="left fl">
                <p class="tit1">国庆出游必备</p>
                <p class="tit2">放价不放假</p>
                <p class="info1"></p>
                <p class="info2"></p>
              </div>
              <div class="right fr">
                <a href="javascript:;">
                  <span>查看详情</span>
                  <span class="iconfont icon-youjiantou1"></span>
                </a>
              </div>
            </div>
          </li>
        </div>
      </div>

      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>

      <!-- 如果需要导航按钮 -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>

    <!-- playstate 控制暂停播放的按钮-->
    <div class="playstate">
      <span class="iconfont icon-zanting"></span>
    </div>


    </div>

</body>

</html>