<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>悦诗风吟官方网站暨网上商城</title>
  <link href="../static/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/index.css">

  <script src="../static/js/jquery-1.8.3.js" defer></script>
  <script src="https://unpkg.com/swiper/js/swiper.js" defer></script>
  <script src="../static/js/utils.js" defer></script>
  <script src="../static/js/header.js" defer></script>
  <script src="../static/js/footer.js" defer></script>
  <script src="../static/js/index.js" defer></script>
</head>

<body>
  <!-- 头部结构 -->
  <header class="headerWrap">
    <div class="header w1368 clear">
      <!-- list -->
      <nav class="list fl">
        <!-- 第一个 -->
        <li class="list-item">
          <!-- 占位空间 -->
          <a href="javascript:;">
            <span>购物</span>
          </a>
          <div class="listContent">
            <div class="listCon w1368 clear">
              <div class="fl menuList">
                <!-- 产品类别 -->
                <dl class="menu-item fl">
                  <dt>购物</dt>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                </dl>

                <!-- 护肤系列 -->
                <dl class="menu-item fl">
                  <dt>购物</dt>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                  <dd>基础护理</dd>
                </dl>

              </div>
              <div class="fr menuImg">
                <a href="javascript:;">
                  <img src="../static/images/menu1.png">
                </a>
              </div>
            </div>
          </div>
        </li>
        <!-- 第二个 -->
        <li class="list-item">
          <a href="javascript:;">
            <span>活动</span>
            <div class="listContent">
              <div class="listCon w1368 clear">
                <div class="fl menuList">
                  <!-- 产品类别 -->
                  <dl class="menu-item fl">
                    <dt>活动</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                  <!-- 护肤系列 -->
                  <dl class="menu-item fl">
                    <dt>活动</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>
                </div>
              </div>
            </div>
          </a>
        </li>
        <!-- 第三个 -->
        <li class="list-item">
          <a href="javascript:;">
            <span>风吟汇</span>
            <div class="listContent">
              <div class="listCon w1368 clear">
                <div class="fl menuList">
                  <!-- 产品类别 -->
                  <dl class="menu-item fl">
                    <dt>风吟汇</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                  <!-- 护肤系列 -->
                  <dl class="menu-item fl">
                    <dt>风吟汇</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                </div>
              </div>
            </div>
          </a>
        </li>
        <!-- 第四个 -->
        <li class="list-item">
          <a href="javascript:;">
            <span>品牌故事</span>
            <div class="listContent">
              <div class="listCon w1368 clear">
                <div class="fl menuList">
                  <!-- 产品类别 -->
                  <dl class="menu-item fl">
                    <dt>品牌故事</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                  <!-- 护肤系列 -->
                  <dl class="menu-item fl">
                    <dt>品牌故事</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>

                </div>
              </div>
            </div>
          </a>
        </li>
      </nav>
      <!-- logo -->
      <a href="./index.html" class="logoWrap">
        <img src="../static/images/logo.png" alt="logo" class="logo">
      </a>
      <!-- action -->
      <div class="actionWrap fr">
        <nav class="active clear">
          <!-- logo & register -->
          <li class="userWrap fl">
            <a href="javascript:;">
              <span><img src="../static/images/user.png" class="userIcon"></span>
            </a>
            <!-- userContent -->
            <div class="userContent">
              <!-- 遮罩层 -->
              <div class="mask"></div>
              <!-- 登录注册 -->
              <div class="loginWrap">
                <a href="./login.html?aim=login" class="login">
                  <span>登录</span>
                </a>
                <a href="./login.html?aim=register" class="register">
                  <span>注册</span>
                </a>
                <span class="closeIcon">
                  <img src="../static/images/close.png">
                </span>
              </div>
            </div>
          </li>
          <!-- search -->
          <li class="searchWrap fl">
            <a href="javascript:;">
              <span><img src="../static/images/search.png" class="searchIcon"></span>
            </a>

            <!-- searchBox -->
            <div class="searchBox">
              <!-- searchContent -->
              <div class="searchContent">
                <!-- searchHeader -->
                <div class="searchHeader">
                  <!-- topCenter -->
                  <div class="topCenter clear">
                    <!-- searchIptWrap -->
                    <div class="searchIptWrap fl">
                      <span class="searchbg">小绿瓶</span>
                      <input type="text" class="searchipt">
                    </div>
                    <!-- srearchButton -->
                    <div class="srearchButton fr">
                      <a href="javascript:;">
                        <img src="../static/images/searchbtn.png">
                      </a>
                    </div>
                  </div>
                  <!-- closeIcon -->
                  <span class="closeIcon">
                    <img src="../static/images/close2.png">
                  </span>
                </div>

                <!-- searchbannerWrap -->
                <div class="searchbannerWrap">
                  <!-- bannerHeader -->
                  <div class="bannerHeader clear">
                    <img src="../static/images/line_left.png">
                    <span>推荐产品</span>
                    <img src="../static/images/line_right.png">
                  </div>

                  <!-- swiper-container -->
                  <div class="swiper-container">
                    <!-- swiper-wrapper -->
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">

                        <nav class="list">
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro01.jpg">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>
                          </div>
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro02.png">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>

                          </div>
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro03.png">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>
                          </div>
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro04.png">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>
                          </div>
                        </nav>
                      </div>
                      <div class="swiper-slide">
                        <nav class="list">
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro01.jpg">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>
                          </div>
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro03.png">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>
                          </div>
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro04.png">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>
                          </div>
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro02.png">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>

                          </div>
                        </nav>
                      </div>
                      <div class="swiper-slide">
                        <nav class="list">
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro03.png">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>
                          </div>
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro01.jpg">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>
                          </div>
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro02.png">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>

                          </div>
                          <!-- 每个 pro-item -->
                          <div class="pro-item">
                            <!-- num -->
                            <div class="num">
                              <img src="../static/images/hot.png">
                            </div>
                            <!-- proImg -->
                            <a href="javascript:;" class="proImg">
                              <img src="../static/images/pro04.png">
                            </a>
                            <!-- proName -->
                            <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                            <!-- price -->
                            <div class="priceWrap">
                              <span class="price">￥240</span>
                            </div>
                          </div>
                        </nav>
                      </div>
                    </div>
                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>

                </div>

              </div>

              <!-- mask -->
              <div class="mask"></div>
            </div>

          </li>
          <!-- shoppingCar -->
          <li class="shoppingCarWrap fl">
            <a href="./login.html?aim=login">
              <span><img src="../static/images/cart.png" class="cartIcon"></span>
            </a>
          </li>
        </nav>
      </div>
    </div>
  </header>

  <!-- banner 结构 -->
  <div class="bannerWrap">
    <!-- swiper-container 结构轮播图 -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../static/images/banner01.jpg">
          <!-- 轮播图补充信息 -->
          <li class="info">
            <div class="main clear">
              <div class="left fl">
                <p class="tit1">3种成分 2重修护</p>
                <p class="tit2">1瓶改善初老危“肌”</p>
                <p class="info1"></p>
                <p class="info2"></p>
              </div>
              <div class="right fr">
                <a href="javascript:;">
                  <span>查看详情</span>
                  <span class="iconfont icon-youjiantou1"></span>
                </a>
              </div>
            </div>
          </li>
        </div>
        <div class="swiper-slide">
          <img src="../static/images/banner02.jpg">
          <!-- 轮播图补充信息 -->
          <li class="info">
            <div class="main clear">
              <div class="left fl">
                <p class="tit1">不惧眼色</p>
                <p class="tit2">妆由我心</p>
                <p class="info1">肆熠绽放限量版</p>
                <p class="info2">耀目上线</p>
              </div>
              <div class="right fr">
                <a href="javascript:;">
                  <span>查看详情</span>
                  <span class="iconfont icon-youjiantou1"></span>
                </a>
              </div>
            </div>
          </li>
        </div>
        <div class="swiper-slide">
          <img src="../static/images/banner03.png">
          <!-- 轮播图补充信息 -->
          <li class="info">
            <div class="main clear">
              <div class="left fl">
                <p class="tit1">国庆出游必备</p>
                <p class="tit2">放价不放假</p>
                <p class="info1"></p>
                <p class="info2"></p>
              </div>
              <div class="right fr">
                <a href="javascript:;">
                  <span>查看详情</span>
                  <span class="iconfont icon-youjiantou1"></span>
                </a>
              </div>
            </div>
          </li>
        </div>
      </div>

      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>

      <!-- 如果需要导航按钮 -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>

    <!-- playstate 控制暂停播放的按钮-->
    <div class="playstate">
      <span class="iconfont icon-zanting"></span>
    </div>


  </div>

  <!-- productWrap -->
  <div class="productWrap">

    <!-- productContent -->
    <div class="productContent w1032">
      <!-- navWrap 上边的切换部分 -->
      <div class="navWrap">
        <!-- tab -->
        <nav class="tab clear">
          <!-- tab-item -->
          <li class="tab-item active">新品推荐</li>
          <li class="tab-item">畅销产品</li>
        </nav>
      </div>
      <!-- centerWrap 中间的产品部分 -->
      <div class="centerWrap clear">
        <!-- left  -->
        <div class="left fl">
          <!-- swiper-container 轮播图部分 -->
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="../static/images/prd01.png">
              </div>
              <div class="swiper-slide">
                <img src="../static/images/prd02.png">
              </div>
              <div class="swiper-slide">
                <img src="../static/images/prd03.png">
              </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
          </div>
          <!-- foryou -->
          <div class="foryouWrap">
            <!-- foryou -->
            <div class="foryou">
              <span>FORYOU</span>
            </div>
            <p>登录查看为你推荐的商品</p>
            <!-- toLogin -->
            <div class="toLogin">
              <a href="./login.html?aim=login">
                <span>登录</span>
                <span class="iconfont icon-youjiantou1"></span>
              </a>
            </div>
          </div>
        </div>
        <!-- 右边 产品部分 -->
        <div class="right fr">
          <!-- product -->
          <nav class="product clear">
            <!-- class="pro-item" -->
            <li class="pro-item">
              <!-- num -->
              <div class="num">
                <img src="../static/images/no1.png">
              </div>
              <!-- proImg -->
              <a href="javascript:;" class="proImg">
                <img src="../static/images/pro01.jpg">
              </a>
              <!-- proName -->
              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
              <!-- price -->
              <div class="priceWrap">
                <span class="price">￥240</span>
              </div>
              <!-- toBuyWrap 立即购买 -->
              <div class="toBuyWrap clear">
                <!-- toBuy -->
                <div class="toBuy">
                  <a href="javascript:;">
                    <span>立即购买</span>
                    <span class="iconfont icon-youjiantou1"></span>
                  </a>
                </div>

                <!-- addCart -->
                <span class="addCart">
                  <img src="../static/images/addCart.png">
                </span>

                <!-- addLike -->
                <span class="addLike">
                  <img src="../static/images/addLike.png">
                </span>
              </div>
            </li>
            <li class="pro-item">
              <!-- num -->
              <div class="num">
                <img src="../static/images/no2.png">
              </div>
              <!-- proImg -->
              <a href="javascript:;" class="proImg">
                <img src="../static/images/pro02.png">
              </a>
              <!-- proName -->
              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
              <!-- price -->
              <div class="priceWrap">
                <span class="price">￥240</span>
              </div>
              <!-- toBuyWrap 立即购买 -->
              <div class="toBuyWrap clear">
                <!-- toBuy -->
                <div class="toBuy">
                  <a href="javascript:;">
                    <span>立即购买</span>
                    <span class="iconfont icon-youjiantou1"></span>
                  </a>
                </div>

                <!-- addCart -->
                <span class="addCart">
                  <img src="../static/images/addCart.png">
                </span>

                <!-- addLike -->
                <span class="addLike">
                  <img src="../static/images/addLike.png">
                </span>
              </div>
            </li>
            <li class="pro-item">
              <!-- num -->
              <div class="num">
                <img src="../static/images/no3.png">
              </div>
              <!-- proImg -->
              <a href="javascript:;" class="proImg">
                <img src="../static/images/pro03.png">
              </a>
              <!-- proName -->
              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
              <!-- price -->
              <div class="priceWrap">
                <span class="price">￥240</span>
              </div>
              <!-- toBuyWrap 立即购买 -->
              <div class="toBuyWrap clear">
                <!-- toBuy -->
                <div class="toBuy">
                  <a href="javascript:;">
                    <span>立即购买</span>
                    <span class="iconfont icon-youjiantou1"></span>
                  </a>
                </div>

                <!-- addCart -->
                <span class="addCart">
                  <img src="../static/images/addCart.png">
                </span>

                <!-- addLike -->
                <span class="addLike">
                  <img src="../static/images/addLike.png">
                </span>
              </div>
            </li>
            <li class="pro-item">
              <!-- num -->
              <div class="num">
                <img src="../static/images/no4.png">
              </div>
              <!-- proImg -->
              <a href="javascript:;" class="proImg">
                <img src="../static/images/pro04.png">
              </a>
              <!-- proName -->
              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
              <!-- price -->
              <div class="priceWrap">
                <span class="price">￥240</span>
              </div>
              <!-- toBuyWrap 立即购买 -->
              <div class="toBuyWrap clear">
                <!-- toBuy -->
                <div class="toBuy">
                  <a href="javascript:;">
                    <span>立即购买</span>
                    <span class="iconfont icon-youjiantou1"></span>
                  </a>
                </div>

                <!-- addCart -->
                <span class="addCart">
                  <img src="../static/images/addCart.png">
                </span>

                <!-- addLike -->
                <span class="addLike">
                  <img src="../static/images/addLike.png">
                </span>
              </div>
            </li>
            <li class="pro-item">
              <!-- num -->
              <div class="num">
                <img src="../static/images/no5.png">
              </div>
              <!-- proImg -->
              <a href="javascript:;" class="proImg">
                <img src="../static/images/pro05.png">
              </a>
              <!-- proName -->
              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
              <!-- price -->
              <div class="priceWrap">
                <span class="price">￥240</span>
              </div>
              <!-- toBuyWrap 立即购买 -->
              <div class="toBuyWrap clear">
                <!-- toBuy -->
                <div class="toBuy">
                  <a href="javascript:;">
                    <span>立即购买</span>
                    <span class="iconfont icon-youjiantou1"></span>
                  </a>
                </div>

                <!-- addCart -->
                <span class="addCart">
                  <img src="../static/images/addCart.png">
                </span>

                <!-- addLike -->
                <span class="addLike">
                  <img src="../static/images/addLike.png">
                </span>
              </div>
            </li>
            <li class="pro-item">
              <!-- num -->
              <div class="num">
                <img src="../static/images/no6.png">
              </div>
              <!-- proImg -->
              <a href="javascript:;" class="proImg">
                <img src="../static/images/pro06.png">
              </a>
              <!-- proName -->
              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
              <!-- price -->
              <div class="priceWrap">
                <span class="price">￥240</span>
              </div>
              <!-- toBuyWrap 立即购买 -->
              <div class="toBuyWrap clear">
                <!-- toBuy -->
                <div class="toBuy">
                  <a href="javascript:;">
                    <span>立即购买</span>
                    <span class="iconfont icon-youjiantou1"></span>
                  </a>
                </div>

                <!-- addCart -->
                <span class="addCart">
                  <img src="../static/images/addCart.png">
                </span>

                <!-- addLike -->
                <span class="addLike">
                  <img src="../static/images/addLike.png">
                </span>
              </div>
            </li>
          </nav>
        </div>
      </div>
      <!-- bottomWrap 下面的导航部分 -->
      <div class="bottomWrap">
        <!-- more -->
        <div class="more">
          <a href="javascript:;">
            <span>更多畅销</span>
            <span class="iconfont icon-youjiantou1"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- conBox -->
  <div class="conBox">
    <!-- conWrap -->
    <div class="conWrap w1032">

      <!-- tempWrap -->
      <nav class="tempWrap clear">
        <a href="javascript:;" class="temp-item">
          <img src="../static/images/temp01.png">
        </a>
        <a href="javascript:;" class="temp-item">
          <img src="../static/images/temp02.png">
        </a>
        <a href="javascript:;" class="temp-item">
          <img src="../static/images/temp03.png">
        </a>
      </nav>

      <!-- videoWrap -->
      <div class="videoWrap">
        <!-- video -->
        <video class="video" poster="../static/images/videoBegin.jpg">
          <source src="../static/images/video.mp4">
          <p>您的浏览器版本过低，无法播放视频</p>
        </video>
      </div>

      <!-- moreWrap -->
      <div class="moreWrap clear">
        <div class="left fl">
          <a href="javascript:;">
            <img src="../static/images/more01.png">
          </a>
        </div>
        <nav class="right fr">
          <a href="javascript:;" class="more-item">
            <img src="../static/images/more02.jpg">
          </a>
          <a href="javascript:;" class="more-item">
            <img src="../static/images/more03.jpg">
          </a>
        </nav>
      </div>

    </div>
  </div>

  <!-- footer -->
  <footer class="footer clear">
    <!-- left -->
    <div class="left fl">
      <!-- logo -->
      <a href="javascript:;" class="logo">
        <img src="../static/images/logo01.png">
      </a>
      <!-- center -->
      <div class="center">
        <!-- weibo -->
        <a href="javascript:;" class="weibo">
          <img src="../static/images/weibo.png">
        </a>
        <!-- weixin -->
        <a href="javascript:;" class="weixin">
          <img src="../static/images/weixin.png">
        </a>
        <!-- shop -->
        <a href="javascript:;" class="shop">
          <img src="../static/images/shop.png">
        </a>
        <div class="link">
          <a href="javascript:;">专卖店导航</a>
          <a href="javascript:;">探店指南</a>
        </div>
      </div>
      <!-- bottom -->
      <p class="bottom">
        <a href="javascript:;" class="badge">
          <img src="../static/images/badge.png">
        </a>
        <span class="copyright">copyright@2011amorerepacific corporation.<br>All rights reserved</span>
      </p>
    </div>
    <!-- right -->
    <div class="right fr">
      <!-- top -->
      <div class="top clear">
        <dl class="contactUs fl">
          <dt>联系我们</dt>
          <dd>订单咨询热线:021-61255625</dd>
          <dd>工作时间：09:00-21:00</dd>
          <dd>品牌服务热线：400-920-9238</dd>
          <dd>服务时间：09:00-21:00(不含国定假日)</dd>
          <dd>客服邮件：innisfree@innisfree.cn</dd>
        </dl>
        <dl class="members fl">
          <dt>会员中心</dt>
          <dd><a href="javascript:;">加入会员</a></dd>
          <dd><a href="javascript:;">会员制度</a></dd>
          <dd><a href="javascript:;">互动游戏</a></dd>
          <dd><a href="javascript:;">我的主页</a></dd>
          <dd><a href="javascript:;">每日签到</a></dd>
        </dl>
        <dl class="customer fl">
          <dt>客服中心</dt>
          <dd><a href="javascript:;">公告板</a></dd>
          <dd><a href="javascript:;">使用说明</a></dd>
          <dd><a href="javascript:;">在线咨询</a></dd>
          <dd><a href="javascript:;">Q&A留言板</a></dd>
          <dd><a href="javascript:;">FAQ</a></dd>
        </dl>
      </div>
      <!-- bottom -->
      <div class="bottom">
        <a href="javascript:;">
          <img src="../static/images/ico_footermark.png"><span>沪公网安备 31010602000985</span>
        </a>
        <a href="javascript:;">网站使用条款</a>
        <a href="javascript:;">
          <img src="../static/images/lz2.jpg">
          <span>沪ICP备11011083</span>
        </a>
      </div>
    </div>
  </footer>

</body>

</html>