<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录_注册-欢迎光临-悦诗风吟(innisfree)官网商城</title>
  <link href="../static/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/login.css">
  <script src="../static/js/jquery-1.8.3.js" defer></script>
  <script src="https://unpkg.com/swiper/js/swiper.js" defer></script>
  <script src="../static/js/utils.js" defer></script>
  <script src="../static/js/header.js" defer></script>
  <script src="../static/js/footer.js" defer></script>
  <script src="../static/js/login.js" defer></script>
</head>

<body>
   <!-- 头部结构 -->
   <header class="headerWrap">
      <div class="header w1368 clear">
        <!-- list -->
        <nav class="list fl">
          <!-- 第一个 -->
          <li class="list-item">
            <!-- 占位空间 -->
            <a href="javascript:;">
              <span>购物</span>
            </a>
            <div class="listContent">
              <div class="listCon w1368 clear">
                <div class="fl menuList">
                  <!-- 产品类别 -->
                  <dl class="menu-item fl">
                    <dt>购物</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>
  
                  <!-- 护肤系列 -->
                  <dl class="menu-item fl">
                    <dt>购物</dt>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                    <dd>基础护理</dd>
                  </dl>
  
                </div>
                <div class="fr menuImg">
                  <a href="javascript:;">
                    <img src="../static/images/menu1.png">
                  </a>
                </div>
              </div>
            </div>
          </li>
          <!-- 第二个 -->
          <li class="list-item">
            <a href="javascript:;">
              <span>活动</span>
              <div class="listContent">
                <div class="listCon w1368 clear">
                  <div class="fl menuList">
                    <!-- 产品类别 -->
                    <dl class="menu-item fl">
                      <dt>活动</dt>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                    </dl>
  
                    <!-- 护肤系列 -->
                    <dl class="menu-item fl">
                      <dt>活动</dt>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <!-- 第三个 -->
          <li class="list-item">
            <a href="javascript:;">
              <span>风吟汇</span>
              <div class="listContent">
                <div class="listCon w1368 clear">
                  <div class="fl menuList">
                    <!-- 产品类别 -->
                    <dl class="menu-item fl">
                      <dt>风吟汇</dt>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                    </dl>
  
                    <!-- 护肤系列 -->
                    <dl class="menu-item fl">
                      <dt>风吟汇</dt>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                    </dl>
  
                  </div>
                </div>
              </div>
            </a>
          </li>
          <!-- 第四个 -->
          <li class="list-item">
            <a href="javascript:;">
              <span>品牌故事</span>
              <div class="listContent">
                <div class="listCon w1368 clear">
                  <div class="fl menuList">
                    <!-- 产品类别 -->
                    <dl class="menu-item fl">
                      <dt>品牌故事</dt>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                    </dl>
  
                    <!-- 护肤系列 -->
                    <dl class="menu-item fl">
                      <dt>品牌故事</dt>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                      <dd>基础护理</dd>
                    </dl>
  
                  </div>
                </div>
              </div>
            </a>
          </li>
        </nav>
        <!-- logo -->
        <a href="./index.html" class="logoWrap">
          <img src="../static/images/logo.png" alt="logo" class="logo">
        </a>
        <!-- action -->
        <div class="actionWrap fr">
          <nav class="active clear">
            <!-- logo & register -->
            <li class="userWrap fl">
              <a href="javascript:;">
                <span><img src="../static/images/user.png" class="userIcon"></span>
              </a>
              <!-- userContent -->
              <div class="userContent">
                <!-- 遮罩层 -->
                <div class="mask"></div>
                <!-- 登录注册 -->
                <div class="loginWrap">
                  <a href="./login.html?aim=login" class="login">
                    <span>登录</span>
                  </a>
                  <a href="./login.html?aim=register" class="register">
                    <span>注册</span>
                  </a>
                  <span class="closeIcon">
                    <img src="../static/images/close.png">
                  </span>
                </div>
              </div>
            </li>
            <!-- search -->
            <li class="searchWrap fl">
              <a href="javascript:;">
                <span><img src="../static/images/search.png" class="searchIcon"></span>
              </a>
  
              <!-- searchBox -->
              <div class="searchBox">
                <!-- searchContent -->
                <div class="searchContent">
                  <!-- searchHeader -->
                  <div class="searchHeader">
                    <!-- topCenter -->
                    <div class="topCenter clear">
                      <!-- searchIptWrap -->
                      <div class="searchIptWrap fl">
                        <span class="searchbg">小绿瓶</span>
                        <input type="text" class="searchipt">
                      </div>
                      <!-- srearchButton -->
                      <div class="srearchButton fr">
                        <a href="javascript:;">
                          <img src="../static/images/searchbtn.png">
                        </a>
                      </div>
                    </div>
                    <!-- closeIcon -->
                    <span class="closeIcon">
                      <img src="../static/images/close2.png">
                    </span>
                  </div>
  
                  <!-- searchbannerWrap -->
                  <div class="searchbannerWrap">
                    <!-- bannerHeader -->
                    <div class="bannerHeader clear">
                      <img src="../static/images/line_left.png">
                      <span>推荐产品</span>
                      <img src="../static/images/line_right.png">
                    </div>
  
                    <!-- swiper-container -->
                    <div class="swiper-container">
                      <!-- swiper-wrapper -->
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
  
                          <nav class="list">
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro01.jpg">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
                            </div>
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro02.png">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
  
                            </div>
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro03.png">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
                            </div>
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro04.png">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
                            </div>
                          </nav>
                        </div>
                        <div class="swiper-slide">
                          <nav class="list">
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro01.jpg">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
                            </div>
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro03.png">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
                            </div>
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro04.png">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
                            </div>
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro02.png">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
  
                            </div>
                          </nav>
                        </div>
                        <div class="swiper-slide">
                          <nav class="list">
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro03.png">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
                            </div>
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro01.jpg">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
                            </div>
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro02.png">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
  
                            </div>
                            <!-- 每个 pro-item -->
                            <div class="pro-item">
                              <!-- num -->
                              <div class="num">
                                <img src="../static/images/hot.png">
                              </div>
                              <!-- proImg -->
                              <a href="javascript:;" class="proImg">
                                <img src="../static/images/pro04.png">
                              </a>
                              <!-- proName -->
                              <h3 class="proName">绿茶精萃平衡水乳套装 全新上市 补水保湿 温和</h3>
                              <!-- price -->
                              <div class="priceWrap">
                                <span class="price">￥240</span>
                              </div>
                            </div>
                          </nav>
                        </div>
                      </div>
                      <!-- 如果需要导航按钮 -->
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
  
                  </div>
  
                </div>
  
                <!-- mask -->
                <div class="mask"></div>
              </div>
  
            </li>
            <!-- shoppingCar -->
            <li class="shoppingCarWrap fl">
              <a href="./login.html?aim=login">
                <span><img src="../static/images/cart.png" class="cartIcon"></span>
              </a>
            </li>
          </nav>
        </div>
      </div>
    </header>

  <!-- login 页面 -->
  <!-- contentBox -->
  <div class="contentBox">
    <!-- contentWrap -->
    <div class="contentWrap w980">
      <!-- wrapTitle -->
      <div class="wrapTitle">
        <!-- location -->
        <p class="location">
          <span class="homePath"></span>
          <span class="path"><a href="javascript:;">登录/会员注册</a></span>
          <span class="path"><a href="javascript:;">登录</a></span>
        </p>
      </div>

      <!-- wrapContent -->
      <div class="wrapContent clear">

        <!-- leftTabWrap -->
        <div class="leftTabWrap">
          <!-- tabHeader -->
          <h1 class="tabHeader">会员中心</h1>

          <!-- tabWrap -->
          <nav class="tabWrap">
            <!-- class="tab-item" -->
            <li class="tab-item">
              <h5 class="tabname active">会员登录</h5>
              <!-- tabContent -->
              <div class="tabContent show">
                <div class="loginTabCon">
                  <h3 class="title">会员信息</h3>
                  <p class="info">欢迎加入来自纯净济州岛的innisfree官网商城！</p>
                  <!-- loginWrap -->
                  <div class="loginWrap">
                    <!-- formWrap -->
                    <div class="formWrap">
                      <h4><img src="../static/images/title_login.gif"></h4>
                      <!-- 账号 -->
                      <dl class="clear">
                        <dt><label for="username">邮箱地址/手机号码</label></dt>
                        <dd><input type="text" id="username" name="username"></dd>
                      </dl>
                      <!-- 密码 -->
                      <dl class="clear">
                        <dt><label for="password">密码</label></dt>
                        <dd><input type="password" id="password" name="password"></dd>
                      </dl>

                      <!-- 登录 -->
                      <a href="javascript:;" class="loginBtn">
                        <img src="../static/images/btn_login.gif">
                      </a>
                      <!-- 记住 -->
                      <p class="remem"><input type="checkbox" id="rememberMe" name="rememberMe">
                        <label for="rememberMe">保存邮箱号/手机号</label></p>
                      <!-- 注意事项 -->
                      <ul class="note">
                        <li>- 输入电子邮地址和密码进行登录时，请务必区分大小写。</li>
                        <li>- IE6.0用户如出现登录后页面无反应的情况，请刷新页面或点击网站其它页面。</li>
                      </ul>
                      <!-- 使用其他方式登陆 -->
                      <dl class="otherways">
                        <dt>使用合作网站账号登录</dt>
                        <dd><a href="javascript:;"><img src="../static/images/ico_sns_weibo.gif"></a></dd>
                        <dd><a href="javascript:;"><img src="../static/images/ico_sns_wechat.gif"></a></dd>
                        <dd><a href="javascript:;"><img src="../static/images/ico_sns_alipay.gif"></a></dd>
                        <dd><a href="javascript:;"><img src="../static/images/ico_sns_qq.gif"></a></dd>
                      </dl>
                    </div>
                  </div>
                  <!-- 尚未加入会员 应该是使用锚点链接吧-->
                  <!-- otherinfoWrap -->
                  <div class="otherinfoWrap">
                    <img src="../static/images/txt_loginNote.gif">
                  </div>
                </div>
              </div>
            </li>
            <li class="tab-item">
              <h5 class="tabname">加入会员</h5>
              <!-- tabContent -->
              <div class="tabContent">
                <div class="joinMembers">joinMembers</div>
              </div>
            </li>
            <li class="tab-item">
              <h5 class="tabname">找回密码</h5>
              <!-- tabContent -->
              <div class="tabContent">
                <div class="findPassword">findPassword</div>
              </div>
            </li>
            <li class="tab-item">
              <h5 class="tabname">使用条款</h5>
              <!-- tabContent -->
              <div class="tabContent">
                <div class="terms">terms</div>
              </div>
            </li>
            <li class="tab-item">
              <h5 class="tabname">隐私声明</h5>
              <!-- tabContent -->
              <div class="tabContent">
                <div class="statement">statement</div>
              </div>
            </li>
          </nav>
        </div>
      </div>

    </div>
  </div>

  <!-- footer -->
  <footer class="footer clear">
    <!-- left -->
    <div class="left fl">
      <!-- logo -->
      <a href="javascript:;" class="logo">
        <img src="../static/images/logo01.png">
      </a>
      <!-- center -->
      <div class="center">
        <!-- weibo -->
        <a href="javascript:;" class="weibo">
          <img src="../static/images/weibo.png">
        </a>
        <!-- weixin -->
        <a href="javascript:;" class="weixin">
          <img src="../static/images/weixin.png">
        </a>
        <!-- shop -->
        <a href="javascript:;" class="shop">
          <img src="../static/images/shop.png">
        </a>
        <div class="link">
          <a href="javascript:;">专卖店导航</a>
          <a href="javascript:;">探店指南</a>
        </div>
      </div>
      <!-- bottom -->
      <p class="bottom">
        <a href="javascript:;" class="badge">
          <img src="../static/images/badge.png">
        </a>
        <span class="copyright">copyright@2011amorerepacific corporation.<br>All rights reserved</span>
      </p>
    </div>
    <!-- right -->
    <div class="right fr">
      <!-- top -->
      <div class="top clear">
        <dl class="contactUs fl">
          <dt>联系我们</dt>
          <dd>订单咨询热线:021-61255625</dd>
          <dd>工作时间：09:00-21:00</dd>
          <dd>品牌服务热线：400-920-9238</dd>
          <dd>服务时间：09:00-21:00(不含国定假日)</dd>
          <dd>客服邮件：innisfree@innisfree.cn</dd>
        </dl>
        <dl class="members fl">
          <dt>会员中心</dt>
          <dd><a href="javascript:;">加入会员</a></dd>
          <dd><a href="javascript:;">会员制度</a></dd>
          <dd><a href="javascript:;">互动游戏</a></dd>
          <dd><a href="javascript:;">我的主页</a></dd>
          <dd><a href="javascript:;">每日签到</a></dd>
        </dl>
        <dl class="customer fl">
          <dt>客服中心</dt>
          <dd><a href="javascript:;">公告板</a></dd>
          <dd><a href="javascript:;">使用说明</a></dd>
          <dd><a href="javascript:;">在线咨询</a></dd>
          <dd><a href="javascript:;">Q&A留言板</a></dd>
          <dd><a href="javascript:;">FAQ</a></dd>
        </dl>
      </div>
      <!-- bottom -->
      <div class="bottom">
        <a href="javascript:;">
          <img src="../static/images/ico_footermark.png"><span>沪公网安备 31010602000985</span>
        </a>
        <a href="javascript:;">网站使用条款</a>
        <a href="javascript:;">
          <img src="../static/images/lz2.jpg">
          <span>沪ICP备11011083</span>
        </a>
      </div>
    </div>
  </footer>
</body>

</html>