.w980 {
  width: 980px;
  margin: 0 auto;
}

.contentBox {
  width: 100%;
  margin-top: 54px;
  background-color: #fff;
}
.contentBox .contentWrap {
  overflow: hidden;
}
.contentBox .contentWrap .wrapTitle {
  margin-top: 16px;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #ccc;
}
.contentBox .contentWrap .wrapTitle .location {
  width: 100%;
  height: 100%;
  line-height: 54px;
}
.contentBox .contentWrap .wrapTitle .location .homePath {
  display: block;
  float: left;
  width: 66px;
  height: 54px;
  background: url("../images/BG_home.png") no-repeat center;
}
.contentBox .contentWrap .wrapTitle .location .path {
  display: block;
  float: left;
  margin-left: 12px;
  height: 54px;
  padding-left: 12px;
  background: url("../images/BG_path.gif") no-repeat left center;
}
.contentBox .contentWrap .wrapTitle .location .path a {
  font-size: 12px;
  color: #666;
}
.contentBox .contentWrap .wrapTitle .location .path a:hover {
  text-decoration: underline;
}
.contentBox .contentWrap .wrapContent {
  width: 100%;
  min-height: 760px;
  margin-top: 16px;
  position: relative;
}
.contentBox .contentWrap .wrapContent .leftTabWrap {
  width: 178px;
  height: 298px;
  background: url("../images/BG_lnbUtil.gif") no-repeat left center;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabHeader {
  width: 100%;
  height: 50px;
  background: url("../images/lnbTitle_util.gif") no-repeat left center;
  font-size: 0;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap {
  width: 152px;
  margin: 12px auto;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item {
  height: 20px;
  margin: 5px 0;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabname {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding-left: 10px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabname:hover {
  background-color: #8db6b8;
  color: #fff;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabname.active {
  background-color: #8db6b8;
  color: #fff;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent {
  position: absolute;
  top: 0;
  right: 0;
  width: 782px;
  margin-bottom: 20px;
  display: none;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .title {
  font-size: 20px;
  font-weight: bold;
  height: 38px;
  line-height: 38px;
  color: #333;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .info {
  font-size: 12px;
  color: #666;
  height: 12px;
  line-height: 12px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap {
  width: 782px;
  height: 310px;
  margin-top: 30px;
  position: relative;
  background: url("../images/BG_loginBox.gif") no-repeat center;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap {
  position: absolute;
  left: 294px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap h4 {
  width: 390px;
  margin: 14px 0 12px;
  padding: 0 0 18px 0;
  border-bottom: 1px dashed #ccc;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap h4 img {
  height: 49px;
  width: auto;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap dl {
  height: 20px;
  margin: 6px 0;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap dl dt {
  width: 124px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666;
  text-align: left;
  float: left;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap dl dd {
  width: 182px;
  height: 20px;
  line-height: 20px;
  float: left;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap dl dd input {
  width: 100%;
  height: 18px;
  line-height: 18px;
  outline: none;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .loginBtn {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 94px;
  right: 28px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .loginBtn img {
  width: 100%;
  height: 100%;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .remem {
  margin-top: 8px;
  height: 14px;
  line-height: 14px;
  text-align: left;
  padding-left: 122px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .remem .rememberMe {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .remem .label {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #666;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .note {
  margin-top: 14px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .note li {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #666;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .otherways dt {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .otherways dd {
  width: 30px;
  height: 30px;
  margin-left: 14px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .otherways dd a {
  display: block;
  width: 100%;
  height: 100%;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .loginWrap .formWrap .otherways dd a img {
  width: 100%;
  height: 100%;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .otherinfoWrap {
  width: 782px;
  margin-top: 28px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .loginTabCon .otherinfoWrap img {
  width: 100%;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .title {
  font-size: 20px;
  font-weight: bold;
  height: 38px;
  line-height: 38px;
  color: #333;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .info {
  font-size: 12px;
  color: #666;
  height: 12px;
  line-height: 12px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap {
  width: 782px;
  height: 310px;
  margin-top: 30px;
  position: relative;
  background: url("../images/BG_loginBox.gif") no-repeat center;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap {
  position: absolute;
  left: 294px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap h4 {
  width: 390px;
  margin: 14px 0 12px;
  padding: 0 0 18px 0;
  border-bottom: 1px dashed #ccc;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap h4 img {
  height: 49px;
  width: auto;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap dl {
  height: 20px;
  margin: 6px 0;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap dl dt {
  width: 124px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666;
  text-align: left;
  float: left;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap dl dd {
  width: 182px;
  height: 20px;
  line-height: 20px;
  float: left;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap dl dd input {
  width: 100%;
  height: 18px;
  line-height: 18px;
  outline: none;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap .registerBtn {
  display: block;
  width: 70px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #ddd;
  border: 1px solid #333;
  margin: 30px 0 30px 180px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap .otherways dt {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap .otherways dd {
  width: 30px;
  height: 30px;
  margin-left: 14px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap .otherways dd a {
  display: block;
  width: 100%;
  height: 100%;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .loginWrap .formWrap .otherways dd a img {
  width: 100%;
  height: 100%;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .otherinfoWrap {
  width: 782px;
  margin-top: 28px;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .joinMembers .otherinfoWrap img {
  width: 100%;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .findPassword {
  width: 100%;
  min-height: 400px;
  font-size: 40px;
  font-weight: bold;
  background-color: #4e9b9b;
  text-align: center;
  padding-top: 30px;
  color: #fff;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .terms {
  width: 100%;
  min-height: 400px;
  font-size: 40px;
  font-weight: bold;
  background-color: skyblue;
  text-align: center;
  padding-top: 30px;
  color: #fff;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent .statement {
  width: 100%;
  min-height: 400px;
  font-size: 40px;
  font-weight: bold;
  background-color: #b372b3;
  text-align: center;
  padding-top: 30px;
  color: #fff;
}
.contentBox .contentWrap .wrapContent .leftTabWrap .tabWrap .tab-item .tabContent.show {
  display: block;
}
